<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <center> <h1>TECHNICAL EDUCATION DEPARTMENT</h1></center>
    <center><h2>GPTC KADUTHURUTHY</h2></center>
    <center><h3>ELECTRONICS</h3></center>
<center><table ><tr><td>Username:</td><td><input type="text"></td>
                </tr><tr><td>Password:</td><td><input type="password"></td></td>
                    <tr><td></td><td><button  class="btn btn-success">login</button></td></tr></table></center>
                    <marquee behavior="scroll" direction="left" bgcolor="yellow">WELCOME TO ELECTRONICS DEPARTMENT OF GPTC KADUTHURUTHY </marquee>
                    <a href="http://gptckaduthuruthy.org/">Visit our college website</a>
   
</body>